@model MVC_BugTraker.Models.Tickets

@{
    ViewBag.Title = "Details";
}
<div id="content">

    <div id="content-header">
        <div id="breadcrumb"> <a href="~/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="container-fluid">
        <h2>Details</h2>

        <div>
            <h4>Tickets</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                @if (Model.Description != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketPriority.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketStatus.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketType.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                @if (Model.Updated != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.Project)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OwnerUser.DisplayName)
                </dd>
                @if (Model.AssignedToUserId != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AssignedToUser)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AssignedToUser.DisplayName)
                    </dd>
                }
            </dl>
        </div>
        <hr />
        <div class="container" style="display:inline-flex">
            <div class="row">
                <div class="span1"></div>
                <div class="span5">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <div class="col-lg-offset-2">
                            Submit your comment!
                        </div>
                        <div class="col-lg-offset-2">
                            @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
                            {
                                <textarea name="comment" style="width:300px; height:80px;"></textarea>
                                <br>
                                <input type="submit" value="Submit" />
                            }
                        </div>
                    }
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @if ((User.Identity.IsAuthenticated && User.IsInRole("Admin")))
                        {
                            @Html.ActionLink("Back to List", "AdminIndex")
                        }
                        @if ((User.Identity.IsAuthenticated && User.IsInRole("ProjectManager")))
                        {
                            @Html.ActionLink("Back to List", "PMIndex")
                        }
                        @if ((User.Identity.IsAuthenticated && User.IsInRole("Developer")))
                        {
                            @Html.ActionLink("Back to List", "DelIndex2")
                        }
                        @if ((User.Identity.IsAuthenticated && User.IsInRole("Submitter")))
                        {
                            @Html.ActionLink("Back to List", "SubmitterIndex")
                        }
                    </p>
                    <dl>
                    <dt>
                        @Html.DisplayNameFor(model => model.TicketsComments)
                    </dt>
                    <dd>
                        @foreach (var TicketsComment in Model.TicketsComments)
                        {
                            <form>
                                <p>
                                    <b>@TicketsComment.Users.DisplayName :</b>
                                </p>
                                <h3>
                                    @TicketsComment.Comment
                                </h3>
                                <p class="col-md-offset-4 col-md-8"> ---@TicketsComment.Created.ToString("yyyy/MM/dd HH:mm")</p>
                            </form>
                        }
                    </dd>
                    </dl>
                </div>
            </div>
            
                <div class="span6">
                    @using (Html.BeginForm("CreateAttachment", "Tickets", new { id = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        <input name="image" type="file" class="form-control" id="fileUpload" />
                        <textarea name="description"></textarea>

                        <input type="submit" value="Attach File" />
                    }
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Attachments)
                        </dt>
                        <dd>
                            @foreach (var Attachment in Model.Attachments)
                            {
                                <div>
                                    <img style="height: 25px; width: 25px; float: left; margin-right: 10px;" alt="image" src="~/Img/photo-album-icon-png.png">
                                    <a href="@Attachment.MediaURL">@Attachment.FileName</a>
                                    <a href="@Url.Action("DownloadAttachment", "Tickets",new { id =Attachment.Id})" class="btn"><i class="fa fa-download"></i> Download</a>
                                    <p>
                                        @Attachment.Description
                                    </p>
                                </div>
                            }
                        </dd>
                    </dl>
                    </div>
                
                </div>
            </div>
        </div>