@model MVC_BugTraker.Models.Tickets

@{
    ViewBag.Title = "Details";
}
<div id="content">

    <div id="content-header">
        <div id="breadcrumb"> <a href="~/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="container-fluid">
        <h2>Details</h2>

        <div>
            <h4>Tickets</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                @if (Model.Description != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketPriority.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketStatus.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TicketType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TicketType.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>
                @if (Model.Updated != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.Project)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OwnerUser.DisplayName)
                </dd>
                @if (Model.AssignedToUserId != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.AssignedToUser)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AssignedToUser.DisplayName)
                    </dd>
                }


                <dt>
                    @Html.DisplayNameFor(model => model.TicketsComments)
                </dt>
                <dd>
                    @foreach (var TicketsComment in Model.TicketsComments)
                    {
                        <form>
                            <p>
                                <b>@TicketsComment.Users.DisplayName :</b>
                            </p>
                            <p>
                                @TicketsComment.Comment
                            </p>
                            <p class="col-md-offset-4 col-md-8"> ---@TicketsComment.Created.ToString("yyyy/MM/dd HH:mm")</p>
                        </form>
                    }
                </dd>
            </dl>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <hr />
            <div class="col-lg-offset-2">
                Submit your comment!
            </div>
            <div class="col-lg-offset-2">
                @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
                {
                    <input type="hidden" name="Slug" value="@Model.TicketsComments" />
                    <textarea name="comment" style="width:300px; height:80px;"></textarea>
                    <br>
                    <input type="submit" value="Submit" />
                }
            </div>
        }
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>